.fest__header{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin: 0rem -1rem;
}
.fest__header-image{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 55vh;
}
.fest__header-image img{
    display: flex;
    height: 80%;
    width: 80%;
}

.fest__header-content{
    flex: 1;
    display: flex;
    justify-content:flex-start ;
    align-items:flex-end;
    flex-direction: column;
    margin-right: 5rem;
    margin-top: -40px;
    /* width: 50%; */
    height: 30%;
}

.fest__header-content h1{
    font-family: "Salsa", cursive;
    color: #ffffff;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.fest__header-content p{
    font-family: "Salsa", cursive;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin: 1.5rem;
    display: flex;
} 

@media screen and (max-width:1050px) {
    .fest__header{
        /* background-color: black; */
        justify-content: center;
        align-items: center;
    }
    .fest__header-image{
        width: 55%;
    }
    .fest__header-image img{
        width: 100%;
    }
    .fest__header-content{
        /* justify-content: flex-end; */
        align-items: center;
        margin-left: 7rem;
        width: 100%;
     }
    }

@media screen and (max-width:870px){
    .fest__header-image{
        width: 55%;
    }
    .fest__header-image img{
        width: 100%;
    }
    .fest__header-content h1{
        font-size: 35px;
        line-height: 30px;
    }
    .fest__header-content p{
        font-size: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:570px) {
    .fest__header-image{
        width: 70%;
    }
    .fest__header-image img{
        width: 100%;
    }
}

@media screen and (max-width:376px) {
    .fest__header-image{
        width: 90%;
        /* height: 30%; */
        margin-left: 3rem;
        padding: 1rem;
    }
    .fest__header-image img{
        width: 100%;
    }
    .fest__header-content h1{
        font-size: 35px;
    }
    .fest__header-content p{
        font-size: 15px;
       
    }
}
