
.fest__pageA {
    background-image: url('../../Assets/djBack.JPG');
    background-size: cover;
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;

}