.aftermovie{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aftermovie h1{
    font-size: 40px;
    font-family: 'Salsa' ,cursive;
}
.video{
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* position: relative; */
  
  /* padding-bottom: 56.25%; 16:9 aspect ratio */
  /* overflow: hidden; */
}
.video iframe {
   

    
  }
#vid{
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width :830px) {
    .video{
        height: 20rem;
        width: 35rem;
    }
    .video iframe{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width :590px) {
    .video{
        height: 15rem;
        width: 25rem;
    }
    .video iframe{
        height: 100%;
        width: 100%;
    }
    .aftermovie h1{
        font-size: 30px;
    }
}
@media screen and (max-width :430px) {
    .video{
        height: 15rem;
        width: 20rem;
    }
    .video iframe{
        height: 100%;
        width: 100%;
    }
}