.fest__navbar{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

.fest__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .fest__navbar-links_logo {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .fest__navbar-links_logo img{
    width: 62px;
    height: 66px;
 }

 .fest__navbar-links_container{
    display: flex;
    flex-direction: row;
    margin-right: 7rem;
 }
 .fest__navbar-links_logo p {
    font-family: "Salsa", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 23px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    color: #ffffff;
 }
 
 .fest__navbar-links_container p,
 .fest__navbar-menu_container p {
    font-family: "Salsa", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    color: #ffffff;
 }

 .nav-link {
    position: relative;
    /* color: white; */
    cursor: pointer;
    /* padding: 10px; */
    /* margin: 0; */
    display: inline-block;
}
 .nav-link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav-link:hover:after {
    width: 110%;
}
 

.fest__navbar-menu {
   /* margin-left: 1rem; */
   display: none;
   position: relative;
 }
 .fest__navbar-menu svg {
   cursor: pointer;
 }
 .fest__navbar-menu_container {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   flex-direction: column;
   text-align: end;
   background: rgba(0, 0, 0, 0.3);
   padding: 2rem 1rem 2rem 2rem;
   position: absolute;
   top: 40px;
   right: 0;
   margin-top: 1rem;
   min-width: 210px;
   /* min-height: 500px; */
   border-radius: 5px;
   box-shadow: 0 0 5 rgba(0, 0, 0, 0.3);
 }
 
 .fest__navbar-menu_container p {
   margin: 1rem 0;
   /* color: aqua; */
   padding-right:35px;
 }

 @media screen and (width < 1088px){
   .fest__navbar-links_container{
       display: none;
   }

   .fest__navbar-menu{
       display: flex;
   }
  
}

@media screen and (width < 700px) {
   .fest__navbar {
     padding: 1rem 4rem !important;
     /* background: blue; */
   }
 }
 @media  screen and (width < 550px){ 
 .fest__navbar{
         padding: 2rem ;
         
     }
     .fest__navbar-menu_container{
         top: 20px;
     }
  }