.fest__about{
    
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 254, 255);
    /* overflow-x: hidden; */
    position: relative;
}

.fest__about-container {
   display: flex;
  flex-direction: column;  
  position: relative;
}
.a1{
   /* width: 15rem; */
   /* height:12.5rem;  */
  /* display: inline; */
  display: flex;
}
.a1 img{
    /* height: 130%; */
    /* width:90%; */
    scale: -1;
   
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    /* max-width: 60rem;
    min-height: 30rem; */
    /* margin: 2rem 3rem; */
    /* margin-left: 20rem; */
    /* margin-top: -7rem; */
    z-index: 2;

    
}

.content h1{
    font-family: "Salsa", cursive;
    color: #000000;
    font-weight: 800;
    font-size: 62px;
    line-height: 155px;
    letter-spacing: -0.04em;
    
}
.content text{
    font-family: "Salsa", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    color: #000000;
    /* border: 2px dashed grey; */
    /* padding: 4rem; */
}


text ::before{
    content: "";
    z-index: -2;
    position: absolute;
    height: 50%;
    width: 50%;
    border-top: 3px dashed grey;
    border-left: 3px dashed grey;
    border-width: 5px;
    left: -4px;
    top: -4px;
    background: red;
}

text ::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 20%;
    width: 30%;
    border-bottom: 3px dashed grey;
    border-right: 3px dashed grey;
    /* right: -4px; */
    bottom: -4px;
}


.a2{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   /* position: absolute; */
   /* top: 16rem; */
   /* right: 0; */
   
 }
 .a2 img{
     height: 100%;
     /* width:auto; */
     /* scale: 2; */
     /* height: 20rem; */
    
 }

 .guitar{
    position: absolute;
    top:160vh;
    margin-left: -7rem;
 }

 .guitar img{
    width: auto;
    height: 100%;
 }

 .music{
    position: absolute;
    right: 0;
    top: 95vh;

 }

 .music img{
    /* padding: 2rem; */
    scale: 0.6;
    margin-right: -5rem;
 }

 .plane1{
    height: 20rem;
    width: 30rem;
    position: absolute; 
    top: 135vh;
    left: 15rem;
}

.plane1 img{
    width: auto;
    height: 15rem;
}

.plane2{
    height: 20rem;
    width: 30rem;
    position: absolute; 
    top: 155vh;
    right: 9rem;
    rotate: 180deg ;
    
}

.plane2 img{
    width: auto;
    height: 15rem;
}
