.fest__about {

    /* height: 100vh; */
    width: 100vw;
    background-color: #EAE6E5;
    /* overflow-x: hidden; */
    position: relative;
}

.fest__about-container {
    /* height: 100%; */
    /* width: 80%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.a1 {
    /* width: 15rem; */
    /* height:12.5rem;  */
    /* display: inline; */
    width: 15%;
    display: flex;
}

.a1 img {
    /* height: 130%; */
    width: 100%;
    scale: -1;

}

.content {
    background-color: hsl(38, 100%, 98%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 4vw auto;
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);;
    /* max-width: 60rem;
    min-height: 30rem; */
    /* margin: 2rem 3rem; */
    /* margin-left: 20rem; */
    /* margin-top: -7rem; */
    /* z-index: 2; */
    /* border-radius: 3px; */


}

.content h1 {
    font-family: "Salsa", cursive;
    color: #000000;
    font-weight: 800;
    font-size: 62px;
    line-height: 130px;
    letter-spacing: -0.04em;

}

.content p {
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #000000;
}



.a2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.a2 img {
    width: 15%;
    /* width:auto; */
    /* scale: 2; */
    /* height: 20rem; */
}

.guitar {
    position: absolute;
    width: 10%;
    /* top: 160vh; */
    top: 30rem;
    /* left: 2rem; */
    /* margin-left: -7rem; */

}

.guitar img {
    width: 100%;
    transform: scaleX(-1);
    /* rotate: 360deg; */
    /* height: 100%; */
}

.music {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 12%;
}

.music img {
    width: 70%;
    /* padding: 2rem; */
    /* scale: 0.6; */
    /* margin-right: -5rem; */
}

.plane1 {
    position: absolute;
    /* height: 200px; */
    width: 10%;
    top: 8rem;
    left: 15%;
}

.plane1 img {
    width: 100%;
    rotate: 9deg
    /* height: 15rem; */
}

.plane2 {
    position: absolute;
    width: 10%;
    right: 15%;
    top: 27rem;

}

.plane2 img {
    width: 100%;
    rotate: 190deg;
}

@media screen and (max-width : 1070px) {
    .plane1 {
        top: 5rem;
    }
    .plane2{
        top: 34rem;
    }
}
@media screen and (max-width : 1050px) {
    .plane1 {
        top: 5rem;
    }
    .plane2{
        top: 37rem;
    }
}

@media screen and (max-width:840px) {
    .content{
        width: 70%;
    }
    .content h1{
        font-size: 40px;
        line-height: 2;
    }
    .content p{
        font-size: 18px;
    }
    .plane2{
        top: 30rem;
        right: 5rem;
    }
    .plane1{
        top: 3.5rem;
        left: 5rem;
    }
}

@media screen and (max-width : 730px) {
    .plane1 {
        top: 3rem;
    }
    .plane2{
        top: 36rem;
    }
}

@media screen and (max-width: 600px) {
    .content p{
        font-size: 17px;
        line-height: 1.2;
    }
    .content{
        padding: 1rem;
    }
    .content h1{
        font-size: 30px;
    }
    .plane2{
        top: 25rem;
    }
}
@media screen and (max-width: 550px){
    .content p{
        font-size: 15px;
        line-height: 1.3;
    }
    .plane2{
        right: 3rem;
        top: 25rem;
    }
    .plane1{
        left:3rem;
        top: 2rem;
    }
}

@media screen and (max-width:481px) {
    .content p{
        font-size: 12px;
    }
    .plane2{
        top: 20rem;
    }
    .music{
        top: 1rem;
        right: 1rem;
    }
    .guitar{
        top: 18rem;
    }
}
@media screen and (max-width : 441px) {
    .plane2{
        top: 22rem;
    }
}
@media screen and (max-width :413px) {
    .plane2{
        top: 20rem;
    }
    .content p{
        font-size: 11px;
    }
}

@media screen and (max-width :364px){
    .plane2{
        top: 22rem;
        right: 2rem;
    }
    .plane1{
        top: 1.5rem;
        left: 2rem;
    }
    
}