.registration{
    background: linear-gradient(to bottom,#398789 2%,#70cc96 100%);
    width: 100%;
    height: 120vh;
     font-family: 'Nunito Sans', sans-serif;

}
.regPng{
  width: 30vw;
  /* background-color: #fff; */
  height: 60vh;
  /* margin: auto; */
  margin-top: 10rem;
  
}

.regContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}
.regPng img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.registrationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.regHeading{
    margin: 1rem 0;
    background-color: #072d2dd4;
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
}
.regHeading h2{
    font-family: 'Nunito Sans', sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25rem;
   
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }

  .form-input:focus {
    border-color: #054343d4;
  }

  .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }

  .form-select:focus {
    border-color: #054343d4;
  }

  .form-button {
    margin: auto;
    background-color: #072d2dd4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .btn-div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom:25px;
  }

  .form-button:hover {
    background-color: #054343d4;
    
  }

  @media screen  and (max-width:1240px){
    .regHeading{
        margin-top: 2rem;
        /* background-color: #ccc; */
    }
  }
  @media screen and (max-width:720px) {
    .registration{
        height: 120vh;
    }
    .form-container{
      width: 20rem;
    }
  }
  @media screen and (max-width:590px) {
    .regContainer{
      flex-direction: column;
    }
    .regPng{
      width: 60vw;
      height: 50vh;
      margin: auto;
    }
    .registration{
      height: max-content ;
      
  }
  }

  @media screen and (max-width:460px)  {
    .registrationContainer{
        padding: 3rem;
    }
    .regPng{
      width: 24rem;
      margin-top: 1rem;
      margin-left: 1rem;
    }
    .form-container{
        width: 20rem;
    }
    .regHeading{
        margin-top: 3rem;
    }
    .regHeading h2{
      font-size: 18px;
    }
    .regContainer{
      margin-right: 2rem;
    }
    
  }
  
  @media screen and (max-width:460px) {
    .form-container{
      width: 18rem;
      margin-left: -10px;
  }
}
  

  @media screen and (max-width:380px) {
    .form-container{
      width: 16rem;
      margin-left: -25px;
  }
 
}