* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */

}

body {
    /* background-color: #EAE6E5; */
    
     background-color:  #EAE6E5;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.fest__pageA {
    background-image: url('./Assets/djBack.JPG');
    background-size: cover;
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;

}

a{
    text-decoration: none;
    color: #ffffff;
}