*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body{
    background-color: #ffffff;
}

.fest__pageA{
    background-image: url('./Assets/djBack.JPG');
    background-size: cover;
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua;
}